.album-slider {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    align-items: flex-start;
    white-space: nowrap;
    padding-bottom: 20px;
}

.album-list-item,
.result-item-divider-album {
    margin-top: 30px;
    flex: 0 0 auto;
}

.album-list-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-album {
    margin-top: 64px;
    width: 90vw;
    max-width: 1000px;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 24px;
    padding-bottom: 20px;
}

.section-album h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.96px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.album-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-cover {
    width: 225px;
    height: auto;
    border-radius: 5px;
}

.album-info-text {
    margin-top: 8px;
}

.album-owner {
    font-size: 14px;
    font-weight: 700;
}

.album-title {
    font-size: 16px;
}

.result-item-divider-album {
    border-left: 1px solid #CBCBCB;
    height: 100%;
    margin: 0 12px;
}

#pagination-album {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-album-item {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-album-active {
    background-color: #E69332;
}