body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
}

.container {
    margin-top: 64px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.container > section {
    width: 80%;
    max-width: 1000px;
}

#album-music {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    margin-top: 30px;
}

.album-cover {
    display: flex;
    justify-content: center;
}

.album-cover img {
    width: 255px;
    aspect-ratio: 1;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.album-name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
}

.album-owner {
    font-size: 18px;
    color: #707070;
    margin-top: 10px;
}

.update-album-link {
    justify-content: center;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#album-music-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    margin-top: 30px;
}

#album-music-list h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.album-music-list-item {
    display: flex;
    height: 64px;
    padding: 8px 12px;
    justify-content: flex-start;
    align-items: stretch;
    align-self: stretch;
}

.album-result-item-divider {
    border-bottom: 1px solid #CBCBCB;
}

.album-music-info-container {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 3px;
}

.album-music-cover {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.album-music-info-text {
    display: flex;
    align-items: end;
    gap: 3px;
}

.album-music-title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    max-width: 250px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-music-genre {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.98px;
}

.play-button {
    height: 70%;
    width: auto;
}

#pagination-album-music {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
    justify-content: center;
}

.pagination-album-music-item {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-album-music-active {
    background-color: #E69332;
}