#section-album {
    width: 100%;
}

#section-album h2 {
    font-size: 36px;
}

.create-album-link {
    margin-left: auto;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#album-slider {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    align-items: flex-start;
    white-space: nowrap;
    padding-bottom: 20px;
}

.album-list-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-cover {
    width: 225px;
    height: auto;
    border-radius: 5px;
}

.album-info-text {
    margin-top: 8px;
}

.album-owner {
    font-size: 14px;
    font-weight: 700;
}

.album-title {
    font-size: 16px;
}

.result-item-divider-album {
    border-left: 1px solid #CBCBCB;
    height: 100%;
    margin: 0 12px;
}

#pagination-album {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 70px;
}

.pagination-album-item {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-album-active {
    background-color: #E69332;
}