#section-music {
    width: 100%;
}

#section-music h2 {
    font-size: 36px;
}

#music-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    align-self: stretch;
    margin-top: 30px;
}

.music-list-item {
    display: flex;
    height: 64px;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
}

.result-item-divider {
    border-bottom: 1px solid #CBCBCB;
}

.music-info-container {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 3px;
    width: 100%;
}

.music-cover {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.music-info-text {
    display: flex;
    align-items: center;
    gap: 3px;
}

.music-title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    max-width: 250px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-genre {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.98px;
}

.play-button {
    height: 70%;
    width: auto;
}

.music-option {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.music-option img {
    cursor: pointer;
}

#pagination-music {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.pagination-item {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-active {
    background-color: #E69332;
}