#section-playlist {
    width: 100%;
}

#section-playlist h2 {
    font-size: 36px;
}

.playlist-slider {
    width: 100%;
    display: flex;
    gap: 20px;
}

.create-playlist-link {
    margin-left: auto;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
    
.playlist-list-item {
    border-radius: 6px;
}

#pagination-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-bottom: 70px;
}

.pagination-playlist-item {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-playlist-active {
    background-color: #E69332;
}