#section-premium-users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#section-premium-users h2 {
    font-size: 20px;
}

.premium-users-img {
    height: 100%;
    aspect-ratio: 1;
    background: #d9d9d9;
    border-radius: 4px;
}

.premium-users-item {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.premium-users-detail {
    display: flex;
    flex: 1;
    gap: 10px;
}

.premium-users-item a {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 0;
    background: #E69332;
    outline-color: #E69332;

    color: #FFF;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}